@import '../../variables';

.buyer-registration-page {
  background-image: url('../../images/forest.jpg');
  min-height: calc(100vh - $banner-height);
  height: auto;
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 30%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buyer-registration-page__box {
  margin: 40px auto;
  width: 880px;
  height: auto;
  border-radius: 5px;
  background-color: white;
  white-space: nowrap;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .buyer-registration-page__action-buttons {
    margin-top: auto;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    margin-bottom: 20px;
  }
}

.buyer-registration-page__box-contents {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.buyer-registration-page__welcome {
  font-weight: 600;
  font-size: 34px;
}

.buyer-registration-page__prompt {
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 20px;

  p {
    color: $secondary-color;
    display: inline;
  }
}

.buyer-registration-page__shipping-prompt {
  padding-top: 20px;
  font-weight: 400;
  font-size: 18px;
}

.buyer-registration-page__shipping-contents {
  padding: 5px;
}
