@import '../../variables';

.login-page {
  background-image: url('../../images/forest.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 30%;
  background-size: cover;
}

.login-page__contents{
  font-weight: 600;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  white-space: nowrap;
}

.login-page__messages {
  padding-top: 15vh;
  padding-right: 15vh;
  padding-bottom: 15vh;
}

.login-page__welcome-message {
  font-size: 48px;
  padding-bottom: 30px;
}

.login-page__mission-statement {
  font-size: 36px;

  p {
    color: $secondary-color;

    display: inline;
  }
}

.login-page__login-prompts {
  padding-right: 25vh;
  padding-top: 35.5vh;
  font-size: 40px;
  display: flex;
  flex-direction: column;

  .login-page__sign-in {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    color: rgb(56, 56, 56);
  }

  .login-page__sign-in:hover {
    margin-top: 15px;
    background-color: white;
    color: rgb(56, 56, 56);
  }
}