@import '../../variables';

.manage-profile__container {
  margin: 1em 3em;
  display: flex;
  flex-direction: row;

  .manage-profile__menu-btn {
    border-radius: 6px;
  }
}

.manage-profile__menu {
  width: 30%;
}

.manage-profile__settings-view {
  width: 70%;
  margin: 0 2.5em;
}
