@import '../../variables';
.setting__title {
  margin-bottom: 0.5em;
  display: block;
  font-size: 1.2em;
}

.seller__container {
  margin-bottom: 1em;
}

.seller__banking-detail {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  color: $grey;
  margin-top: 0.5em;
}

.seller__banking-detail-container {
  margin-bottom: 1em;
}
