.user-settings__container {
  display: flex;
  flex-direction: column;
}

.user-settings__button {
  margin-top: 1em;
  margin-left: auto;
}

.user-setting__title {
  margin-bottom: 1em;
  font-size: 1.2em;
}
