.listing-preview__cost {
  font-weight: 700;
  font-size: 1.1em;
}

.listing-preview:hover {
  cursor: pointer;
}

.listing-preview {
  margin: 1em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.listing-preview__image {
  object-fit: cover;
}
