@import '../../variables';

.listing-row {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.listing-row__title {
    margin: 0;
    font-size: 1.3em;
}

.listing-row__list {
    &::-webkit-scrollbar {
        background: transparent; /* make scrollbar transparent */
        -webkit-appearance: none;
        width: 0;
        height: 0;
      }
}

.listing-row__button-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .listing-row__button{
        height: 1.5em;
      }
}