.listing-preview__cost {
  font-weight: 700;
  font-size: 1.1em;
}

.listing-preview {
  img:hover {
    cursor: pointer;
  }
}

.listing-preview__name,
.listing-preview__user {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.listing-preview__name {
  margin-bottom: 0.35em;
}

.listing-preview {
  margin: 1em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.listing-preview__image {
  object-fit: cover;
}

.listing-preview__remove-button.listing-preview__remove-button {
  width: 10em;
  margin-top: 0.5em;
}
