@import '../../variables';
.address-change__sections {
  margin-top: 0.75em;
  font-weight: 600;
  font-size: 1.05em;
}

.address-change__container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.address-change__radio {
  margin: 0.5em 0;
}
.address__grey {
  color: $grey;
}

.change-content.change-content {
  padding-bottom: 0;
}

.manage-profile__button.manage-profile__button {
  margin: 0 1em 0.75em 0;
}

.address-change__button,
.address-change__button-redirect,
.address-change__button-billing {
  margin-left: 0.5em;
  font-size: 0.9em;
  color: $secondary-color;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.address-change__button-billing {
  &:hover {
    cursor: unset;
    text-decoration: unset;
  }
}

.address-change__button-redirect {
  font-weight: 400;
  color: $grey;
  font-size: 0.8em;
}
.address-change__button-billing {
  margin-left: 0;
}
