@import '../../variables';

.product-name {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 5;
}

.product-cost {
  font-size: xx-large;
  margin-top: 0;
  margin-bottom: 0;
}

.listed-time {
  font-size: small;
  font-style: italic;
  color: grey;
  position: relative;
  margin-top: 20;
  margin-bottom: 0;
}

.shipping-option {
  font-size: small;
}

.product-details {
  margin-top: 10;
  margin-bottom: 0;
}

.category {
  margin-bottom: 0;
  color: grey;
}

.category-value {
  margin-bottom: 0;
}

.select {
  width: 60px;
  height: 30px;
}