.product-details-skeleton__user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-details-skeleton__user-icon {
  margin-right: 0.5em;
}

.product-details-skeleton__details {
  margin-top: 1em;
}
