@import '../../variables';

.product-details {
  padding: 0;
}

.product-details__name {
  display: flex;
  margin-left: auto;
  font-weight: 550;
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 0;
}

.product-details_user-avatar {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 450;
  color: #1b2a5a;
  text-align: center;
  background: #a5d8f3;
}

.product-details__user-name {
  font-size: 14px;
}

.product-details__user-department {
  font-size: 10px;
  color: red;
}

.product-details__product-cost {
  font-weight: 500;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.product-details__listed-time {
  font-size: 11px;
  color: grey;
  position: relative;
  margin-top: 7px;
  margin-bottom: 0;
}

.product-details__shipping-icon {
  margin-bottom: 0;
  color: grey;
}

.product-details__small-text {
  font-size: 13px;
}

.product-details__buttons {
  margin-top: -10px;
}

.product-details__small-header {
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0;
}

.product-details__description {
  font-weight: 450;
  margin-top: 10px;
}


