@import '../../variables';

.banner {
  background-color: $primary-color;
  display: flex;
  height: $banner-height;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 0.75em;
}

.banner__content {
  display: flex;
  padding: 0.5em 1.5em;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.banner__address {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner__welcome-message {
  margin-left: auto;
}
