@import '../../variables';

.breadcrumbs__category.breadcrumbs__category {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.2em;
}

.breadcrumbs__final-string {
  pointer-events: none;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2em;
  margin-bottom: 0.1em;
  margin-top: 1.5em;
}
