@import '../../variables';
.pdp__delete-listing {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: $grey;
  span {
    font-size: 0.85em;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
