@import '../../variables';
.pdp__delete-listing {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: $grey;
  span {
    font-size: 0.85em;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.link-toast {
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    margin: 0;
  }

  a:link,
  a:visited {
    color: rgb(30, 70, 32);
  }
}
