.no-content-fixed,
.no-content {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.no-content {
  top: 70%;
}

.no-content-image {
  height: 150px;
}
