@import '../../variables';

.payment-grid__payment-prompt {
  font-weight: 400;
  font-size: 18px;
}

.payment-grid__grid {
  padding-top: 10px;
}

.payment-grid__address-prompt {
  padding-top: 20px;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 10px;
}
