@import '../../variables';

.payment-grid__payment-prompt {
  font-weight: 400;
}

.payment-grid__grid {
  padding-top: 10px;
}

.payment-grid__address-prompt {
  padding-top: 20px;
  font-weight: 400;
  padding-bottom: 10px;
}

.payment__date-picker {
  input {
    padding: 0.5em;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
