.user {
    display: flex;
    padding: 10px;
    min-width: 80vh;
    background-color: rgb(251, 244, 229);

    .user__buttons {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        .user__button {
            margin: 5.5px;
            max-height: 30px;
            min-width: 125px;
            margin-right: 15px;
        }
    }
}
.user__username {
    font-size: 17px;
    font-weight: 450;
    margin-bottom: 4px;
}

.user__user-information {
    font-size: 14px;
}