@import '../../variables';

.seller-modal__button-container {
  margin: 0 15px 10px;
  color: $grey;
}

.create-listing__content {
  display: flex;
  flex-direction: row;
}

.create-listing__content-left {
  margin-right: 1em;
  transition: width 0.2s;
}

.create-listing__content-right {
  width: 50%;
  margin-left: auto;
}

.create-listing__content-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em;
}

.create-listing__image-drop {
  label {
    margin-right: 0;
    max-width: 100%;
  }
  input {
    height: 70px;
  }
}

.create-listing__quantity {
  margin: 0 1em 0 2em;
}

.create-listing__category {
  margin-left: auto;
}

.create-listing__description {
  width: 100%;
}

.create-listing__description,
.create-listing__image-drop,
.create-listing__cost,
.create-listing__optional-container {
  margin-top: 1em !important;
}
.seller-modal__image-preview {
  object-fit: cover;
}

.seller-modal__image-preview-container {
  margin-right: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 150px;
}

.seller-modal__image-text-container {
  span {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  width: 100%;

  .seller-modal__image-remove-button {
    margin-left: auto;
  }
}

.create-listing__condition {
  margin-right: 1em;
  p {
    margin: 0;
  }
}

.seller-modal__save-button.seller-modal__save-button {
  margin-left: 1em;
}

.create-listing__optional.create-listing__optional {
  margin-right: 1.5em;
}

.listing-modal__more-details-container {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}

.success-toast {
  display: flex;
  flex-direction: row;
  align-items: center;

  a:link,
  a:visited {
    color: rgb(30, 70, 32);
  }
}

.listing-modal__more-details {
  display: flex;
  flex-direction: column;

  .listing-modal__more-details-main {
    font-size: 1.1em;
    &:hover {
      cursor: pointer;
    }
  }
  .listing-modal__more-details-sub {
    font-size: 0.85em;
  }
}
@media only screen and (max-width: 1200px) {
  .create-listing__content-row,
  .create-listing__quantity,
  .create-listing__category {
    display: flex;
    flex-direction: column;
    align-items: start;

    span {
      margin: 0;
      margin-top: 0.5em;
    }
  }
}
