@import '../../variables';

.orders {
  font-size: 20px;
  font-weight: 450;
  margin-top: 1.2em;
  margin-left: 1.2em;
  margin-bottom: 1.5em;
  color: grey;
}

.orders-page__main {
  margin-left: 12em;
}

.orders-page__header-text {
  font-size: 17px;
  font-weight: 450;
  margin-bottom: 4px;
}
