.orders-page__ordered__header-text {
  font-size: 17px;
  font-weight: 450;
  margin-bottom: 4px;
}

.orders-page__ordered__text {
  font-size: 14px;
}

.orders-page__ordered__grey-text {
  font-size: 14px;
  color: grey;
}

.accordion-summary {
  margin: 0;
}
