.categories-menu__menu {
  .categories-menu__all-categories-text {
    font-weight: 700;
    opacity: 1;
    font-size: 18px;
  }

  .categories-menu__divider.categories-menu__divider {
    margin: 0 9px;
  }

  .categories-menu__menu-item {
    &:hover {
      text-decoration: underline;
      background-color: transparent;
    }
  }
}
