@import '../../variables';

.search-bar {
  display: flex;
  height: 2.1em;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  border: 2px solid $primary-color;
  background-color: $primary-color;
  flex: 1;
  box-sizing: border-box;

  .search-bar__categories-button {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    height: 110%;
  }
}

.search-bar__input-base {
  background-color: white;
  color: black;
  width: 90%;
  height: 96%;
  flex: 1;

  input {
    padding: 4px 0 4px 1em;
  }
}

.search-bar__search-icon.search-bar__search-icon {
  height: 100%;
  color: white;
  padding: 3px 4px;
}

.search-bar__categories-text {
  padding-left: 8px;
  text-transform: capitalize;
}
