.toolbar__content {
  padding: 0.35em 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.05);
}

.toolbar__logo {
  img:hover {
    cursor: pointer;
  }
}
.toolbar__buttons {
  margin: 0;

  .toolbar__button {
    margin: 0 0.25em;
    font-size: 1.1em;
  }
}

.landing-page__sticky-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 999;
}

.cart-quantity {
  border-radius: 50%;
  color: #1b2a5a;
  text-align: center;
  background: #a5d8f3;
  box-shadow: -1px 2.5px 2.5px rgba(0, 0, 0, 0.25);
  right: -3px;
  position: absolute;
  transition: all 0.15s ease;
  transition-delay: 0.35s;
  transition: font-size 0.24s;
}

.cart-container {
  position: relative;
}
